# Reference: https://github.com/github/gitignore/blob/main/Python.gitignore

# Python
__pycache__/

# PyCharm project files
.idea/

# Other files/folders
/h3_toolkit_plugin.zip

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/